@use "breakpoints";

@mixin drawer-modal() {
    @media (max-width: breakpoints.$drawer-docked-from - 1px) {
        @content;
    }
}

@mixin drawer-docked() {
    @media (min-width: breakpoints.$drawer-docked-from) {
        @content;
    }
}

@mixin player-docked() {
    @media (min-width: breakpoints.$player-docked-from) {
        @content;
    }
}

@mixin player-sheet() {
    @media (max-width: breakpoints.$player-docked-from - 1px) {
        @content;
    }
}

@mixin ellipsis() {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
