:root {
    --font-family: system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
    --font-family-icon: "Material Symbols Outlined Variable";

    --font-size-body: 16px;
    --font-size-title: 20px;
    --font-size-subtitle: 15px;
    --font-size-tab: 17px;
    --icon-size: 24px;

    --font-weight-regular: 400;
    --font-weight-medium: 600;
    --font-weight-bold: 700;

    --line-height-body: 1.4;
    --line-height-title: 1.2;
}
